@import "variables";
$container-max-widths: (
  xxl: 1140px,
) !default;

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Quattrocento Sans', sans-serif;
$font-weight-base: 400;
$h1-font-size: 2.125rem;
$h2-font-size: 	1.0625rem;
$font-size-base: 0.875rem;
$nav-link-font-size: 0.875rem;
$navbar-brand-padding-y: 0;

$body-color: $body-color-default;
$nav-link-color: #a4aead;




