*,
*:before,
*:after {
  box-sizing: border-box;
}
span {
  display: block;
}
.navbar {
  font-weight: $font-semibold;
  text-transform: uppercase;
  padding-top: unset;
  margin-bottom: $navbar-mb;
  
}
.navbar-nav {
height: calc(100vh - 55px);
 justify-content: space-between;
 margin-top: 5px;
 @include media-breakpoint-up(lg) {
  height: unset;
  margin-top: unset;
}
}
img {
  vertical-align: top;
}

.header {
  background: $black;
  @include media-breakpoint-up(lg) {
  padding-bottom: $header-pad;
  height: 55px;
  }
  .nav-item {
    .nav-link {
      border: 2px solid transparent;
      border-radius: $br;
      padding: $link-pad;
      @include media-breakpoint-up(lg) {
        margin-right: $nav-item-nav-link-mr;
      }
      &:hover {
      @include media-breakpoint-up(lg) {
        border: 2px solid $color-link-bd--hover;
        border-radius: $br;
      }
      }
    }
    &:last-child {
      .nav-link {
          margin-right: unset;
      }
    }
    &:first-child {
      .nav-link {
        @include media-breakpoint-up(lg) {
          color: $color-base;
          border: 2px solid $color-base;
        }
        &:hover {
          @include media-breakpoint-up(lg) {
            border: 2px solid $color-base;
          }
        }
      }
    }
  }
  .nav-link {
    text-align: center;
    position: relative;
    @include media-breakpoint-up(lg) {
      text-align: initial;
    }
  }
}
h1 {
  color: $dark;
  font-weight: $font-bold;
  padding-left: $h1-pad;
  position: relative;
  letter-spacing: -1.3px;
  font-family: $font-family-monospace;
  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 35px;
    background: $color-bf;
    display: inline-block;
    top: 0;
    left: 0;
  }
  @include media-breakpoint-up(lg) {
    margin-top: $h1-margin;
  }
}
.item {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: $item-mt;
  span {
    margin-bottom: $item-span-mt;
  }
  h2 {
    margin-bottom: $h2-mb;
    color: $black;
    font-family: $font-family-monospace;
  }
  p {
    font-size: $font-size-sm;
    line-height: $p-lh;
  }
  .cogs {
    background: url(/images/sprite.png) no-repeat -8px 0;
    width: 48px;
    height: 48px;
  }
  .pencil {
    background: url(/images/sprite.png) no-repeat -67px 0;
    width: 48px;
    height: 48px;
  }
  .phone {
    background: url(/images/sprite.png) no-repeat -141px 0;
    width: 30px;
    height: 48px;
  }
  .clock {
    background: url(/images/sprite.png) no-repeat -196px 0;
    width: 48px;
    height: 48px;
  }
}
