$body-color-default: #8d8f92;
$font-size-sm: 1rem;

$font-semibold: 600;
$font-bold: 700;

$color-base: #23b7a4;

$h1-pad: 20px;
$h1-margin: 42px;
$header-pad: 20px;
$link-pad: 2px 9px;

$item-mt: 78px;
$item-span-mt: 33px;

$h2-mb: 19px;

$dark: #292f36;
$black: #1d2126;
$color-bf: #e1e6ea;
$p-lh: 1.62;

$nav-item-nav-link-mr: 19px;

$br: 4px;

$color-link-bd--hover: #5b6168;

$navbar-mb: 63px;
